{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock%}

{% block content %}

<body class="text-center">

    <div class="container">
        <form method="post" class="form-register" style="color: white;">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Please Login
            </h1>
            <br>

            {{ form.username.label() }}
            {{ form.username(class='form-control', placeholder="User Name") }}
            {{ form.password1.label() }}
            {{ form.password1(class='form-control', placeholder="Password") }}

            <br>

            {{ form.submit(class='btn-lg btn-block btn-primary') }}
            <br>
            <div class="checkbox mb3">
                <h4>Don't have an account</h4>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}"> Register</a>
            </div>
        </form>

    </div>
    
</body>    

{% endblock %}